[column]
	ui = auto
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
	gpgSign = true
[init]
	defaultBranch = main
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[push]
	default = simple
	autoSetupRemote = true
	followTags = true
[fetch]
	prune = true
	pruneTags = true
	all = true
[help]
	autocorrect = prompt
[commit]
	verbose = false
	gpgsign = true
[rerere]
	enabled = true
	autoupdate = true
[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true
[merge]
	conflictstyle = zdiff3 
[pull]
	rebase = false
	merge = true
[core]
	fsmonitor = true
	untrackedCache = true
	repositoryformatversion = 0
	filemode = true
	bare = false
	logallrefupdates = true
	ignorecase = true
	precomposeunicode = true
	excludesfile = ~/.gitignore
[remote "origin"]
	url = git@github.com:4richardchen/richardchen.com.git
	fetch = +refs/heads/*:refs/remotes/origin/*
[branch "main"]
	remote = origin
	merge = refs/heads/main
	vscode-merge-base = origin/main
[user]
	name = Richard Chen
	email = 1322333+4richardchen@users.noreply.github.com
