<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/css/style.css">
    <style>body{padding:1em}</style>
    <link rel="canonical" href="index.html">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta name="robots" content="noindex,nofollow,noarchive,none,nosnippet,max-image-preview:none,max-video-preview:none" />
    <title>{{page.title}}</title>
    <link href="//richardchen.com" rel="author"/>
    <meta name="keywords" content="richard,chen,richard chen,full stack developer,richardchen"/>
    <meta name="description" content="Richard Chen is a fullstack developer in New York City."/>
    <meta property="og:title" content="{{page.title}}" />
    <meta property="profile:first_name" content="Richard" />
    <meta property="profile:last_name" content="Chen" />
    <meta property="profile:username" content="richardchen" />
    <meta property="profile:gender" content="male" />
    <meta property="og:description" content="Richard Chen is a full stack developer in New York City."/>
    <meta property="og:url" content="//richardchen.com/"/>
    <meta property="og:image" content="//lh6.googleusercontent.com/-dk7bDylCxqQ/AAAAAAAAAAI/AAAAAAAAAAA/ZYgTimb-rvM/s32-c/photo.jpg" />
    <meta property="og:image:secure_url" content="//lh6.googleusercontent.com/-dk7bDylCxqQ/AAAAAAAAAAI/AAAAAAAAAAA/ZYgTimb-rvM/s32-c/photo.jpg" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="32" />
    <meta property="og:image:height" content="32" />
    <meta property="og:type" content="website" />
  </head>
  <body>
{{content}}
  </body>
</html>
