@import "tailwindcss";

@layer base {
html, body, #__next {
  height: 100%;
}

body {
  padding: 1em;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  color: #111;
  background: #fff;
}
a {
  @apply text-blue-800;
  @apply underline;
}
  /* style `ul` which for some reasons are without styling */
  ul:not([class]) {
    @apply list-disc pl-6 my-4;
  }

  ul:not([class]) li {
    @apply my-1;
  }

  ol:not([class]) {
    @apply list-decimal pl-6 my-4;
  }

  ol:not([class]) li {
    @apply my-1;
  }
}